{block #title}Delete user {$user['email']}{/block}
{block content}

{if $user}
    <h1>Delete user {$user['email']}?</h1>
    <p>User deletion is irreversible. Please confirm deletion by entering your password.</p>
    {control confirmDeleteForm}
    
{else}
    <p>User was not found.</p>
{/if}

