#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	nette:
		debugger:
			strictMode: true
		session:
			autoStart: true
			expiration: +14days
		application:
			errorPresenter: Error
		database:
			default:
				dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
				user: %database.user%
				password: %database.password%
		xhtml: no

	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes
	services:
		database: @nette.database.default

		repositoryManager:
			class: Application\RepositoryManager(...)
			setup:
				- setContainer(...)
		authenticator: Backend\Authenticator( @repositoryManager::getRepository(User) )
		presenterTree: Kdyby\PresenterTree(...)
		moduleManager: Application\ModuleManager(...)

		userFiles: FileModel(%wwwDir%, /files)
		userImagesCache: FileModel(%wwwDir%, /imgbrowser_cached_thumbnails)

production < common:
	includes:
		- config.production.neon

development < common:
	includes:
		- config.development.neon

console < common:
	includes:
		- config.development.neon
