# SECURITY WARNING: http://nette.org/security-warning
common:
	includes:
		- coolms.config.neon # Modules can be defined here
		- ndbf.config.neon # Modules can be defined here

	services:
		authenticator: Backend\Authenticator(@ndbf.repositoryManager::getRepository(User))

		userFiles: Coolms\FileModel(%wwwDir%, /files)
		userImagesCache: Coolms\FileModel(%wwwDir%, /imgbrowser_cached_thumbnails)

	nette:
		debugger:
			strictMode: true
		session:
			autoStart: true
			expiration: +14days
		application:
			errorPresenter: Error:Error
		database:
			default:
				dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
				user: %database.user%
				password: %database.password%
		xhtml: no

	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes


production < common:
	includes:
		- production.config.neon
	nette:
		application:
			catchExceptions: TRUE

development < common:
	includes:
		- development.config.neon
	nette:
		application:
			catchExceptions: FALSE


console < development:
