<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta info -->
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="author" content="Ondrej Slamecka, http://www.slamecka.cz" />
    <meta name="copyright" content="Ondrej Slamecka" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{$themePath}/styles/screen.css" />

    <!--  Javascript, AJAX, jQuery -->
    <script src="{$themePath}/js/css_browser_selector.js" type="text/javascript"></script>
    {* If you are suspicious that Google might to want corrupt your website, download following two libs and load them from your server *}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>    
    <script src="{$themePath}/js/jquery.nette.js" type="text/javascript"></script>
    <script src="{$themePath}/js/main.js" type="text/javascript"></script>
    
    {block #head}{/block}
    
    <!-- Title -->
    <title>{block #title}Login{/block} &ndash; Administration</title>

</head>
<body class="authentication" id="{block #bodyId}{/block}">

    <div id="header" class="clearfix">

	<span id="logo">Administration</span>

        <div class="actionbar">
	    <a href="{$baseUri}">To site</a>
	</div>
        
    </div> <!-- /#header -->

    <div id="panel">

	<div id="content">

	    {snippet flash}
		{foreach $flashes as $flash}<p class="flash {$flash->type}">{!$flash->message}</p>{/foreach}
	    {/snippet}

	    {include #content}

	</div> <!-- #content -->

    </div> <!-- #panel -->

    <div id="footer">
        Powered by <a href="http://coolms.slamecka.cz">CoolMS</a>
    </div>


</body>
</html>