<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="{$basePath}/css/bootstrap.css" >
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-responsive.css">
    <link rel=stylesheet href="{$basePath}/css/screen.css" media="screen,projection" >
    <link rel=stylesheet href="{$basePath}/css/print.css" media="print" >

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {block #head}{/block}

    <title>{block #title}Home{/block} &ndash; Your Web</title>
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{$baseUri}">Default CoolMS web</a>
          <div class="nav-collapse">

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

	<div class="container">

		<div class="row">
			{* Menu *}
			<div class="span3">
				<div class="well sidebar-nav">
					{block #menu}
					<ul class="nav nav-list">
						{foreach $menuTree as $item}
						{var $isSubmenu = $item->type === \Coolms\Entity\Menuitem::TYPE_SUBMENU}
						<li n:class="$presenter->isMenuLinkCurrent($item) ? active, $isSubmenu ? nav-header">

							{if $isSubmenu}
								{$item['name']}
							{else}
								<a href="{menulink $item}">{$item['name']}</a>
							{/if}

							{if $isSubmenu && $item->related('menuitem')->count()}
								{include #menu, 'menuTree' => $item->related('menuitem')}
							{/if}
						</li>
						{/foreach}
					</ul>
					{/block}
				</div><!--/.well -->
			</div><!--/span-->

			{* Content *}
			<div class="span9">
				{snippet flash}
					{foreach $flashes as $flash}<p class="flash {$flash->type}">{!$flash->message}</p>{/foreach}
				{/snippet}

				{include #content}
			</div>
		</div><!--/.row-->

		{* Footer *}
		<hr>
		<footer>
			<p>
				Powered by <a href="http://coolms.slamecka.cz">CoolMS</a> <br>
				Default template is <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a> <br>
				<a href="{$basePath}/admin">Administration</a>
			</p>
		</footer>

	</div><!--/.container-->

	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{$basePath}/js/bootstrap.js"></script>

</body>
</html>