table.files img { vertical-align:middle }
table.files .name {width:100%}
td.folderabove { height:31px }
#breadcrumbs a { padding: 0 .05em }
td input[type="image"]:hover{background-color:#FFF}

/* HTML5 file upload progress bar - @author http://css-tricks.com/8518-css3-progress-bars/ Thanks! */
.meter{display:none;width:50%;height:1.4em;position:relative;-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;border:2px solid #777;margin:1em 0}
.meter > span{text-align:center;text-shadow:1px 1px 0 rgba(0,0,0,0.2);display:block;height:100%;
              -webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background-color:#2bc253;-webkit-box-shadow:inset 0 2px 9px rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);-moz-box-shadow:inset 0 2px 9px rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);box-shadow:inset 0 2px 9px rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);position:relative;overflow:hidden}
.meter > span:after, .animate > span > span{content:"";position:absolute;top:0;left:0;bottom:0;right:0;z-index:1;-webkit-background-size:50px 50px;-moz-background-size:50px 50px;-webkit-animation:move 2s linear infinite;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;overflow:hidden}
100%{background-position:50px 50px}
.nostripes > span > span, .nostripes > span:after{-webkit-animation:none;background-image:none}
.animate > span:after{display:none}