{extends '@layout.latte'}

{block #head}
{* TinyMCE *}
<script type="text/javascript" src="{$commonsPath}/tiny_mce/jquery.tinymce.js"></script>
<script type="text/javascript" n:syntax="double">
function coolmsFileBrowser (field_name, url, type, win)
{
    var cmsURL = {{link //:File:ImageBrowser:default}};
    if (cmsURL.indexOf("?") < 0) {
        cmsURL = cmsURL + "?type=" + type;
    } else {
        cmsURL = cmsURL + "&type=" + type;
    }

    tinyMCE.activeEditor.windowManager.open({
        file : cmsURL,
        width : 530,
        height : 400,
        resizable : "yes",
        // inline : "yes", // This parameter only has an effect if you use the inlinepopups plugin!
        close_previous : "yes"
    }, {
        window : win,
        input : field_name
    });
    return false;
}

$().ready(function() {
    $('textarea.wysiwyg').tinymce({
        /* --- GENERAL --- */

        /* Location of TinyMCE script */
        script_url : {{$commonsPath}}+'/tiny_mce/tiny_mce.js',

        /* We don't want no entity encoding */
        entity_encoding : "raw",


        /* --- USER SETTINGS --- */

        /* Language */
        language : "en",

        /* Theme: advanced/simple */
        theme : "advanced",

        /* Theme options */
        theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,bullist,numlist,hr,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,image",

        theme_advanced_blockformats : "p,div,h2,h3,h4,h5,h6,blockquote,dt,dd,code,samp",

        /* Used plugins: */
        plugins : "advimage",
        file_browser_callback : "coolmsFileBrowser",

		relative_urls: false,
		document_base_url: {{$basePath}} + '/',

        /* List of all plugins */
        //plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,advlist",

        /* Following two lines are suitable for users with less/more needs; http://www.tinymce.com/wiki.php/Configuration:theme_advanced_buttons_1_n */
        theme_advanced_buttons3 : "",
        theme_advanced_buttons4 : "",

        /*theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,|,sub,sup,|,fullscreen,help,code",
        theme_advanced_buttons4 : "cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking",*/


        /* --- ADVANCED SETTINGS --- */
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true,

        /* Example content CSS (should be your site CSS) */
        //content_css : {{$commonsPath}}+"/css/typo.css",

        /* Drop lists for link/image/media/template dialogs */
        //template_external_list_url : "lists/template_list.js",
        //external_link_list_url : "lists/link_list.js",
        //external_image_list_url : "lists/img_list.js",
        //media_external_list_url : "lists/media_list.js",

    });
});
</script>

{* Webalized name autofill in forms *}
<script n:syntax="double">
$().ready(function() {
    $name_webalized = $('input.name_webalized');

    $('form').on('change', 'input.name_webalized_source', function() {
        var name = $(this).val();

        if (name.length > 0){
            var params = 'name=' + name;
            $.ajax({{plink webalizeName!}} + "&" + encodeURI(params), {
                success : function(payload){
                    $name_webalized.val(payload.name_webalized);
                }
            });
        }
    });
});
</script>
{/block}

{include #content}
