<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Image browser</title>

    <link rel="stylesheet" type="text/css" href="{$modulePath}/css/imagebrowser.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{$commonsPath}/tiny_mce/tiny_mce_popup.js"></script>
    <script type="text/javascript">
    window.onload = function()
    {
        // Selection
    	$('a.select_img').on('click', function(event){
    		event.preventDefault();
    		var file_url = $(this).attr('href');

    		var win = tinyMCEPopup.getWindowArg("window");
    		win.document.getElementById(tinyMCEPopup.getWindowArg("input")).value = file_url;

    		win.ImageDialog.showPreviewImage(file_url);

    		tinyMCEPopup.close();
    	});

        // Previews
        function hidePreview() {
            $(this).hide('slideUp');
        }

        var $document = $(document),
            $body = $("body"),
            $preview = $("<div class=preview><span class=hint>Click to close preview</span></div>");
            $preview_img = $("<img>");

        $preview_img.appendTo($preview);
        $preview.hide();
        $preview
            .appendTo($body)
            .on('mouseleave', hidePreview)
            .on('click', hidePreview); ;

        $(".preview_icon").on('click', function(event) {
            event.preventDefault();

            $preview_img.attr('src', $(this).attr('href'));
            if ($document.height() > $document.width())
                $preview_img.css('width', $document.width() -10);
            else
                $preview_img.css('height', $document.height() -10);

            $preview_img.load(function() {
                $preview.show('slideDown');
            });
        });
    }
    </script>
</head>
<body>
    {if iterator_count($items->getIterator()) < 1 && $path === '/'}
        <p>You haven't uploaded any files yet. Please upload them using file manager.</p>
    {else}
    	<ul>
            <li n:if="$path !== '/'">
                    <a href="{link default, dirname($path)}" class="folder">
                        <img src="{$commonsPath}/icons/folder_big.png" alt="Folder">
                        <span>Folder above</span>
                    </a>
            </li>
            <li n:foreach="$items as $item">
                {? $itemUrl = ($path === '/' ? '/' : $path . '/' ) . $item->getFileName()}
                {if $item->isDir()}
                    <a href="{link default, $itemUrl}" class="folder">
                        <img src="{$commonsPath}/icons/folder_big.png" alt="Folder">
                        <span>{$item->getFilename()}</span>
                    </a>
                {else}
                    <a href="{$fileModel->getRelativePath() . $itemUrl}" class="select_img"><img src="{$itemUrl|cache}" alt="{$itemUrl}"></a>
                    <a href="{$fileModel->getRelativePath() . $itemUrl}" class="preview_icon"><img alt="Preview" src="{$commonsPath}/icons/zoom.png" /></a>
                {/if}
            </li>
        </ul>
    {/if}
</body>
</html>