{block #title}{$page['name']}{/block}
{block content}

<h2>{$page['name']}</h2>
{!$page['text']}

<p>
Template can be found in app/FrontModule/templates/Page/templates/contact.latte 
and it's assignment to a page can be edited in <del>administration</del>
<ins>database for now :- /</ins>
</p>

<p>Here can be a contact form if you wish.</p>