{block #title}{$page['name']}{/block}
{block content}

<h1>{$page['name']}</h1>
{!$page['text']}

<p>
Template can be found in app/FrontModule/templates/Page/templates/contact.latte
and its assignment to a page can be edited in the administration (e.g. for <i>contact.latte</i>, enter <i>contact</i>).
</p>

<p>Here can be a contact form if you wish.</p>