<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Password reset</title>
</head>
<body>
    <p>Dear Sir or Madam,</p>

    <p>you have requested a password reset at {$site}. To continue use the following link:</p>
    <p><a href="{$link}">{$link}</a></p>
    <p>If you have not requested the password change ignore this email. The possibility to reset password will expire after 24 hours.</p>
    
    <p>
        <small>Please do not reply to this email.</small>
    </p>
    
</body>
</html>