/* Layout */
body{
    color: #000;
    font-size: 16px;
    line-height: 1.55;
    font-family: Georgia, "New York CE", utopia, sans-serif;
    /*font-family: Verdana,"Geneva CE",lucida,sans-serif;*/
}

#panel, footer{ 
    padding: 1.5em 2em; /* Same as menu negative margin */       
}

footer, #menu{ display: none; }

/* Typo */

a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; }

a#logo{
    color: #000;
    text-decoration: none;
    font-size: 1.2em; 
    margin: 0 0 .5em;
}

h1{
    font-size: 1.5em;  
    margin: 0 0 .7em;
    color: #252525;
}

h2{ font-size: 1.45em; margin: 0 0 .5em; }

h3{ font-size: 1.1em; margin: 0 0 .3em; font-weight: bold; }

a{ color: black; }
a:hover{ text-decoration: none; }
a:visited{ color: black; }

p{ margin: 0 0 1.6em; }

strong, em { padding: 0 .05em; color: #3d171e; }
strong{ font-weight: bold; }
em{ font-style: italic; }

#content ul{ list-style: disc; list-style-position: inside; margin: 1.4em 0 2em .8em; }    
#content ol{ list-style: decimal; list-style-position: inside; margin: 1.4em 0 2em .8em; }

#content ul h3{ display: inline }
#content ul ul{ margin: .4em 0 1em 2em }

hr{
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,0.7);
    border-width: 2px;
    height: 1px;
    margin: 2em 0;                         
}
